/* Untuk Tablet */

@media all and (max-width: 1000px) {
    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }
    .top-wrapper h1 {
        font-size: 32px;
    }
    .heading h2 {
        font-size: 20px;
    }
}


/* Untuk Smartphone */

@media all and (max-width: 670px) {
    .lesson {
        width: 100%;
    }
    footer {
        text-align: center;
    }
    .btn {
        width: 100%;
    }
    .facebook {
        margin-bottom: 10px;
    }
    .top-wrapper {
        text-align: left;
    }
    /* Tambahkan CSS untuk header-right */
    .header-right {
        display: none;
    }
    /* Tambahkan CSS untuk menu-icon */
    .menu-icon {
        display: block;
    }
    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }
    .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }
    .message-facebook {
        margin-bottom: 15px;
    }
    .message-twitter {
        margin-bottom: 15px;
    }

    nav {
        height: auto;
        border-bottom: 0;
    }
    
    nav ul {
        width: 100%;
        display: none;
        height: auto;
    }

    nav li {
        width: 100%;
        float: none;
        display: block;
        background-color: rgba(34, 49, 52, 0.9);
    }

    nav li a {
        border-bottom: 1px solid #f0f0f0;
        border-right: 1px solid #f0f0f0;
    }

    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        color: white;
    }

    nav a#pull {
        display: block;
        width: 100%;
        position: relative;
        color: #ffffff;
    }

    nav a#pull:hover {
        background-color: #ecf0f1;
        color: #333;
    }

    nav a#pull:after {
        content:"";
        background: url('src/nav-icon.png') no-repeat;
        width: 40px;
        height: 40px;
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 20px;
    }
}