* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://images.unsplash.com/photo-1555066932-e78dd8fb77bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=5049&q=80);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}

.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.signup {
    background-color: #239b76;
}

.facebook {
    background-color: #3b5998;
    margin-right: 10px;
}

.twitter {
    background-color: #55acee;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.fa {
    margin-right: 5px;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 124px;
    margin-top: 2px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


/* Tambahkan CSS untuk menu-icon */

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    /* Gantikan property display ke none */
    display: none;
}

.lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
}

.lesson {
    float: left;
    width: 20%;
}

.lesson-icon {
    position: relative;
    opacity:0.8;
}

.lesson-icon p {
    position: absolute;
    top: 0%;
    width: 100%;
    color: black;
}


.text-contents {
    width: 80%;
    display: inline-block;
    /* border: 1px solid  ; */
    /* padding:10px; */
    /* background-color: white; */
    /* margin-top: 15px; */
    font-size: 15px;
    color: #404040;
}

/* .heading h3 {

} */

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.menu-icon {
    display: none;
}


/* Tambah Aryo */

.message-facebook {
    padding: 15px 40px;
    background-color: #3b5998;
    cursor: pointer;
    box-shadow: 0 7px #092050;
}

.message-facebook:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.message-twitter {
    padding: 15px 40px;
    background-color: #55acee;
    cursor: pointer;
    box-shadow: 0 7px #195a8b;
}

.message-twitter:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

/* TAMBAH TIO */
.judul-contents{
    color: black;
}
.profile-text{
    font-size:50px;
    padding:10px 100px;
    background-color: black;
    color: white;
    border-radius: 50px;
    cursor:pointer;
}
.profile-text:hover{
    opacity: 0.5;
    transition: all 0.5s;
}
.github {
    background-color: #555a61;
    margin-right: 10px;
}
.github:hover{
    background-color: #163973;
    padding: 13px 26px;
    transition: all 0.2s;
}
.lesson-icon:hover{
    opacity:1;
    transition: all 0.5s;
    cursor: pointer;
}
.text-contents:hover{
    font-size: 17px;
    cursor: pointer;
}
.judul-contents:hover{
    font-size:20px;
    cursor: pointer;
}
/* .lesson-icon img:hover{
    height: 220px;  
    width: 220px;
    opacity: 0.9;
    transition: all 0.2s;
} */


/******************************************************/
/******************** Desain Menu *********************/
/******************************************************/
nav {
    height: 65px;
    width: 100%;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 500px;
    height: 65px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    color: white;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 65px;
    opacity: 0.7;
}

nav a:hover, nav a:active {
    background-color: #ecf0f1;
    color: #333;
}

nav a#pull {
    display: none;
}

.footer-1 {
    display: flex;
    padding: 48px 0;
}

.footer-logo img {
    width: 175px;
    padding-left: 15px;
    text-align: center;
}

.footer-logo p {
    border-top: 1px solid gray;
    font-size: 12px;
    padding-top: 8px;
    color: gray;
}

.footer-list {
    padding-left: 85px;
}

.footer-list li {
    float: left;
    padding: 0 40px;
    position: relative;
}

.footer-list a {
    color: #a8a6a2;
}

.footer-list a:hover {
    color: black;
}

.copyright {
    border-top: 1px solid #eee;
    background-color: #9c9991;
}

.footer-cpr {
    padding: 20px 0;
    text-align: center;
}

small {
    color: white;
}